#body {
   
}
#topbar-div {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: white;
}
#icon-div {
    margin-left: 2em;
    margin-top: 1.5em;
    background-color: white;
}
img {
    height: 2.5em;
    width: 6em;
}
#searchbox-div {
    margin-left: 12em;
    margin-top: -3em;
    margin-right: 0;
}
#searchbox {
    min-width: 45em;
    height: 3em;
    border-radius: 50px;
    background-color: white;
    border: 0.5px solid rgb(226, 222, 222);
    border-radius: 50px;
}
#searchbox:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.19);
}

#main_nav {
    margin-top: -2em;
    margin-right: 0;
    margin-left: 70em;
    display: flex;
    width: 15em;
}
.main {
    padding-left: 2em;
    color: rgb(77, 76, 76);    
}
#type-nav {
    margin-top: 6em;
    margin-left: 10em;
}
.type {
    width: 20em;
    padding-left: 2em;
    color: rgb(77, 76, 76);
}
#others-nav {
    margin-top: -1.5em;
    margin-left: 42em;
    display: flex;
    padding-left: 2em;
}
.others {
    padding-left: 2em;
    color: rgb(77, 76, 76);
}
#stat-div {
    margin-left: 12em;
}
#featured-div {
    margin-left: 10em;
    margin-right: 22em;
    border: 0.5px solid rgb(226, 222, 222);
    border-radius: 10px;
    height: 12em;
    font-size: 17px;
    width: 39em;
    font-size: 16.5px;
    color: black;
    padding-left: 16px;
}
#featured {
    position: relative;
    top: 1em;
}
#videos-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
a {
    text-decoration: unset;
}
a:hover {
    text-decoration: underline;
}
p {
    color:  rgb(77, 76, 76);
}
h3 {
    color: rgb(28, 58, 148);
    font-weight: normal;
}
#p-id {
    color: black;
}
#p-id2 {
    color: black;
}
body { 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(77, 76, 76);
}
dibv {
        border: 1px solid red;
}

}
}
#results-div {
    -moz-appearance: none   ;
    margin-left: 20em;
}
#about-snippet-div {
    margin-left: 38em;
    width: 20em;
}
#about-snippet {
    color: rgb(77, 76, 76);
    padding-left: 2em;
    font-style: italic;
    font-size: 12px;
}
#relateda-div {
    margin-left: 10em;
    
    width: 50em;
    border-radius: 10px;
    border: 0.5px solid rgb(226, 222, 222);  
}
#relatedintro-div {
    margin-top: 0;
    margin-left: 1em;
}
#more-diva {
    margin-top: -3em;
    margin-left: 40em;
}
#rel {
    display: flex;
    margin-top: 4em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-right: 2em;
    width: 20em;
}
.rel {
    padding-right: 1em;
}
.reli {
    height: 5em;
}
#relatedb-div {
    margin-left: 10em;
    width: 50em;
    border-radius: 10px;
    border: 0.5px solid rgb(226, 222, 222);  
}
#more-div {
    margin-top: -3em;
    margin-left: 40em;
}
#related10 {
    height: 5em;
}
ul {
    list-style-type: none;
}
#other-searches-div {
    margin-left: 10em;
}
#list-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -2.5em;
    margin-top: -1em;
}
/*@media only screen and (max-width: 750px) {
    #list-div {
        font-size: 2px; }
}*/
#list2-div {
    margin-left: ;
}
.link1 {
    color: rgb(28, 58, 148);
}
.link2 {
    color: rgb(28, 58, 148);
}
#pages-div {
    margin-left: 20em;
}
.pages-link {
    padding-right: 0.5em;
}
#link10 {
    padding-right: 3em;
}
#footer-div {
    margin-left: -1em;
    top: 42em;
    background-color: whitesmoke;
    width: 85em;
    border: 0.5px solid rgb(212, 208, 208);
    height: 3em;
}
#nigeria {
    margin-left: 11em;
    color: rgb(122, 121, 121);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}
#fnav-div {
    margin-left: -1em;
    margin-top: 0;
    background-color: whitesmoke;
    width: 85em;
    bordder: 0.5px solid rgb(212, 208, 208);
    height: 3em;
}
#fnav {
    margin-left: 9.5em;
    padding-top: 1em;
}
.fnav-link {
    padding-right: 2em;
    color: rgb(94, 94, 94);
}